<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaisui.dao.ArticleMapper">
    <!--选择一篇文章-->
    <select id="getArticle" resultType="com.huaisui.pojo.Article">
        select * from article where Article_id = #{Article_id}
    </select>
    <!--选择start到end篇文章-->
    <select id="getArticles" resultType="com.huaisui.pojo.Article">
        select * from article order by post_date desc limit #{start},#{end}
    </select>
    <!--获得文章总数量-->
    <select id="getArticleCounts" resultType="int">
        select count(article_id) from Article
    </select>
    <!--新增文章-->
    <insert id="addArticle" parameterType="String">
        insert into article (article_id,article_title,post_date,author)
        values (#{article_id},#{article_title},#{post_date},#{author})
    </insert>
</mapper>